---
title: Tanzen in Bonn
layout: page-core
use_full_page_title: true
show_hero_bottom_link: true
scroll_to_default_anchor: false
---
{%- comment -%}
  &ndash; vom klassischen Gesellschaftstanz, sei es für Hochzeiten oder andere gesellschaftliche Anlässe, über Discofox, Salsa &amp; Co bis hin zu West Coast Swing.
{%- endcomment -%}

{%- capture introduction_text -%}
  {:.subtle-strong.landing-page-lead-paragraph}
  Hier bei Tanzgefühl haben wir uns dem Paartanz in seinen verschiedensten Facetten verschrieben.
  Wir bieten **individuellen Unterricht** für Paare, Gruppen und Einzeltänzer, zu 100% ausgerichtet an Ihren individuellen Wünschen und Zielen.

  {:.landing-page-lead-text}
  Wir sind der ideale Partner, wenn Sie:

  {:.links-with-arrows.landing-page-lead-text}
  * Demnächst heiraten, und in kurzer Zeit noch einen [individuellen Hochzeitstanz]({% link tanzen/anlass/privatstunden.html %}) lernen möchten.
  * Zum Abschluss- oder Abiball ihrer Kinder, Enkel oder Neffen und Nichten eingeladen sind, und vorher noch Ihre [Kenntnisse auffrischen]({% link tanzen/anlass/privatstunden.html %}) möchten.
  * Ihre Partnerin oder Partner, der bereits tanzen kann, mit eigenem [Tanzkönnen überraschen]({% link tanzen/anlass/privatstunden.html %}) möchten.
  * Sich einfach wertvolle gemeinsame [Zeit zu Zweit]({% link tanzen/anlass/privatstunden.html %}) gönnen möchten
  &ndash; wir machen es ganz entspannt und bequem möglich!

  {% comment %}
  Wir sind der ideale Partner, wenn Sie:

  Berufstätig sind, und nur zu ungewöhnlichen Zeiten oder unregelmäßig Zeit haben. und daher mit einem üblichen Tanzkurs einmal die Woche nichts anfangen können.
  Sie haben Kinder und keinen Babysitter, der die Kleinen alleine betreuen kann? Wir kommen zu Ihnen nach Hause, und schenken Ihnen im vertrauten Umfeld intime Zeit zu zweit.
  {% endcomment %}
{%- endcapture -%}

{%- capture introduction_text_2 -%}
  {:.subtle-strong}
  Hier bei {% include components/logo.html class="branding-logo branding-logo-inline branding-logo-small" %} haben wir uns dem Paartanz in seinen verschiedensten Facetten verschrieben.
  Wir bieten **individuellen Unterricht** für Paare und Einzeltänzer, zu 100% ausgerichtet an Ihren individuellen Wünschen und Zielen. Direkt bei Ihnen Zuhause oder an einem anderen Wunschort.
  Ohne Vertragsbindung, ohne versteckten Kosten --- zu 100 Prozent individuell, flexibel und persönlich. Jetzt unverbindlich Angebot einholen!

  -- vom unvergesslichen Erlebnis Hochzeitstanz über die klassischen Gesellschaftstänze
  bis zu den Trends rund um Discofox, Salsa, West Coast Swing &amp; Co!
{%- endcapture -%}

{%- capture about_dancing_text -%}
  {:.first-word}
  <span>T<span>anzen</span></span> ermöglicht es Menschen, sich auf eine einzigartige Weise auszudrücken, die über Worte hinausgeht.
  Es verbindet Körper, Geist und Seele und schafft eine besondere Verbindung mit Partner\*in und Musik.
  Es ist **Lebensfreude und Energiespender**, **Auszeit vom Alltag** und kulturelle Tradition,
  intime **Zeit mit dem\*der Partner\*in** und Raum für **Begegnung und Gemeinschaft**.

  Darüber hinaus hat Tanzen nachweislich positive Auswirkungen auf die physische Gesundheit.
  Es fördert die Flexibilität, verbessert die Ausdauer und stärkt die Muskeln.
  Gleichzeitig hat es auch positive Auswirkungen auf die mentale Gesundheit,
  da es Stress abbauen, die Stimmung heben und das allgemeine Wohlbefinden steigern kann.

  Insgesamt ist Tanzen eine kraftvolle Form der Kommunikation, die Menschen aller Altersgruppen und Hintergründe
  zusammenbringt.
  Es ist eine universelle Sprache, die Menschen auf einer tieferen Ebene verbindet und dabei hilft, Freude, Leidenschaft und Emotionen
  auszudrücken.
{%- endcapture -%}

<div class="section narrow-section subtle-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12 landing-page-lead-section">
        <h1>
          <span class="first-line">Herzlich Willkommen</span>
          <span class="second-line">bei {% include components/logo.html class="branding-logo branding-logo-inline" %}!</span>
        </h1>
        {{ introduction_text | markdownify }}
      </div>
    </div>
  </div>
</div>
<div class="section narrow-section bg-body-secondary">
  <div class="container">
    <div class="row">
      <div class="md-12">{{ about_dancing_text | markdownify }}</div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-1"></div>
      <div class="col-lg-6 col-12">
        <div class="circular-image enlarge-on-hover" style="--hover-scale: 1.06">
          <div class="circular-image-inner">
            <div class="image" style="background-image: url('{% link assets/img/pexels-cottonbro-studio-4972842.jpg %}');"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-1"></div>
      </div>
    </div>
  </div>
</div>
