{%- capture tanzgefuehl_tipp_4_text -%}
  {:.very-subtle-strong}
  **Tanzgefühl-Tipp #4:**
  Sie möchten eine Tanzstunde verschenken, haben aber noch keinen konkreten Termin?
  Werfen Sie einen Blick auf unsere <a class="missing-link-marker">Gutscheine</a>!
{%- endcapture -%}

{%- capture tanzgefuehl_tipp_5_text -%}
  {:.very-subtle-strong}
  **Tanzgefühl-Tipp #5:**
  Sie möchten Ihren Partnerin oder Partner mit einer Tanzstunde überraschen?
  Lassen Sie es uns wissen, und wir planen gemeinsam mit Ihnen die Umsetzung.
  Auf Wunsch sind auch individuelle Arrangements und Überraschungen zum Valentins-, Hochzeits- und Verlobungstag oder Geburtstag möglich.
{%- endcapture -%}

{%- capture post_buchung_button_text -%}
  {:.very-subtle-strong}
  Wir senden Ihnen nach erfolgter Buchung eine Buchungsbestätigung per E-Mail zu.
  Bei Bedarf melden wir uns gegebenenfalls telefonisch, wenn wir weitere Informationen brauchen, um Ihren persönlichen Moment bestmöglich vorzubereiten.
  **Sie haben weitere Fragen?**
  <a class="mai&#x006C;-link"
  href="mai&#x006C;to&#x003A;%63%6F%6E%74%61%63%74REMOVETHISTEXTBEFORESENDING&#64;%74%61%6E%7A%67%65%66%75%65%68%6C&#46;%64%61%6E%63%65?subject=Rückruf-Anfrage:%20Ihre%20Telefonnummer">Vereinbaren Sie einen Rückruf</a>, und wir melden uns bei Ihnen!

  <hr/>

  {{ tanzgefuehl_tipp_5_text }}
{%- endcapture -%}

<div class="section bg-body-secondary">
  <div class="container">
    <p style="font-weight: 500;">
      Die Buchung der Termine ist ganz komfortabel via E-Mail möglich:
    </p>
    <p style="text-align: center;">
      <a class="mai&#x006C;-link btn btn-warning"
        href="mai&#x006C;to&#x003A;%63%6F%6E%74%61%63%74REMOVETHISTEXTBEFORESENDING&#64;%74%61%6E%7A%67%65%66%75%65%68%6C&#46;%64%61%6E%63%65?subject=Privatstunden-Anfrage:%20Ihre%20individuellen%20Wünsche">Jetzt
        Termin vereinbaren!</a>
    </p>
    {{ post_buchung_button_text | markdownify }}
  </div>
</div>
