<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {%- include components/random-facts/container.html -%}
            </div>
            <div class="col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link privatstunden.html %}#-">Privatstunden</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link workshops.html %}#-">Workshops</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link datenschutz.html %}#-">Datenschutz</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link impressum.html %}#-">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{%- include components/random-facts/script.html -%}
