<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-md-1 order-3">
                {%- include components/random-facts/container.html -%}
            </div>
            <div class="col-md-2 col-6 order-md-2 order-1 mb-4">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link team.html %}">Unser Team</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link tanzen/anlass/privatstunden.html %}">Privatstunden</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link workshops.html %}">Workshops</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 order-md-3 order-2 mb-4">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link impressum.html %}">Kontakt</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link datenschutz.html %}">Datenschutz</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link impressum.html %}#">Impressum</a></li>
                </ul>
            </div>
            <div class="col-12 order-4">
                <p class="copyright-hint">&copy; 2024 Tanzgefühl. Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </div>
</footer>
{%- include components/random-facts/script.html -%}
