<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {%- include components/random-facts/container.html -%}
            </div>
            <div class="col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link team.html %}">Unser Team</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link privatstunden.html %}">Privatstunden</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link workshops.html %}">Workshops</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light mai&#x006C;-link" href="mai&#x006C;to&#x003A;%63%6F%6E%74%61%63%74REMOVETHISTEXTBEFORESENDING&#64;%74%61%6E%7A%67%65%66%75%65%68%6C&#46;%64%61%6E%63%65?subject=Allgemeine%20Anfrage">Kontakt</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link datenschutz.html %}">Datenschutz</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link impressum.html %}#">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{%- include components/random-facts/script.html -%}
