<header>
    <div class="first-section">
        <a href="#-" tabindex="1" class="header-skip-link visually-hidden-focusable">Zum Inhalt springen</a>
        <div class="hero-container image-1"></div>
        <div class="branding-logo-container">
            <span class="shape-outside-left"></span>
            <span class="shape-outside-right"></span>
            <h1 class="branding-logo">
                <a href="{% link tanzen/anlass/privatstunden.html %}" aria-label="Tanzgefühl">
                    {%- include components/logo.html inner_only=true class="" -%}
                </a>
            </h1>
            <ul class="compact-nav-items">
                <li><a href="{% link impressum.html %}">Kontakt</a></li>
                <li><a href="{% link impressum.html %}">Impressum</a></li>
                <li><a href="{% link datenschutz.html %}">Datenschutz</a></li>
                <li><a href="{% link tanzen/anlass/privatstunden.html %}#privatstunden">Privatstunden</a></li>
                <li><a href="{% link workshops.html %}">Workshops</a></li>
            </ul>
        </div>
        {%- if page.show_hero_bottom_link -%}
            {%- include components/hero/bottom-link.html -%}
        {%- endif -%}
    </div>
</header>
