.no-workshops-message {
    font-size: 1rem;
    font-weight: 400;
}

.no-workshops-message .custom-circle {
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
    background: #eeeeee;
}

.lead-paragraph {
    font-size: 1.5rem;
}

.secondary-lead-paragraph {
    font-size: 1.125rem;
    margin-top: -0.75rem;
}

main .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
