.no-workshops-message {
    font-size: 1rem;
    font-weight: 400;
}

.no-workshops-message .custom-circle {
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
    background: #eeeeee;
}

.lead-paragraph {
    font-size: 1.5rem;
}

.secondary-lead-paragraph {
    font-size: 1.125rem;
    margin-top: -0.75rem;
}

main .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main article .section:first-child {
    --additional-padding-top: 1rem;
    padding-top: 2rem;
}

main article .section:last-child {
    --additional-padding-bottom: 1rem;
    padding-bottom: 3rem;
}

.btn-black {
    background-color: black;
    color: white;

    &:hover {
        background-color: #0e0c0c;
        color: white;
    }
}

.more-info-box {
    margin-top: 1rem;
    padding: 1.1rem 1.6rem 0.9rem;
    display: inline-block;
    border-radius: 0.5rem;
    position: relative;

    span {
        font-weight: 500;
    }
}
