/* Footer */

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bs-body-color);
    color: #ffffff;
}

footer .nav-link:hover {
    text-decoration: underline;
}

.did-you-know {
    padding-right: 3rem;

    &.not-initialized .fact:first-child,
    .fact.active {
        display: block;
    }

    .fact {
        display: none;

        .more {
            display: none;
        }

        a {
            color: inherit;
            font-weight: 500;
            text-decoration: none;
        
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
