/* Footer */

.page-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bs-body-color);
    color: #ffffff;

    .nav-link:hover {
        text-decoration: underline;
    }

    .copyright-hint {
        color: #bbbbbb;
        font-size: 0.8rem;
    }
}

.did-you-know {
    padding-right: 3rem;
    min-height: 10lh;

    &.not-initialized .fact:first-child,
    .fact.active {
        display: block;
    }

    .fact {
        display: none;

        h6 {
            &:hover::after,
            &:hover a {
                content: ' #';
                cursor: pointer;
                font-size: 1.1em;
                line-height: 1rem;
                color: var(--bs-primary);
                position: relative;
                top: 1px;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        .more {
            display: none;
        }

        a {
            color: inherit;
            font-weight: 500;
            text-decoration: none;
        
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
