/* Footer */

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bs-body-color);
    color: #ffffff;
}

footer .nav-link:hover {
    text-decoration: underline;
}

.did-you-know {
    padding-right: 3rem;
}

.did-you-know .fact {
    display: none;
}

.did-you-know.not-initialized .fact:first-child,
.did-you-know .fact.active {
    display: block;
}
