/* Navigation */

.compact-nav-items {
    display: inline-block;
    list-style: none;
    text-align: left;
    padding-top: 0.2em;
    padding-left: 0;
    text-align: center;
}

.compact-nav-items li {
    margin-left: 0;
    display: inline;
}

.compact-nav-items li,
.compact-nav-items li::after {
    padding: 0.2em 0;
}

.compact-nav-items li a {
    margin-left: 0;
    display: inline;
    font-family: "Playfair Display";
    font-weight: 600;
    position: relative;
}

.compact-nav-items li a,
.compact-nav-items li a:visited,
.compact-nav-items li a:active {
    color: #111111;
    text-decoration: none;
}

/* Navigation item separators */

.compact-nav-items li a {
    white-space: nowrap;
}

.compact-nav-items li::after {
    content: " ";
    letter-spacing: 0.4em;
    color: rgba(255, 0, 0, 0.8);
    background-color: red;
    background: content-box top center no-repeat url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0.5 4.6 24.5"><path d="M 0,12.25 2.25,10 4.5,12.25 2.25,14.5 Z" style="shape-rendering:geometricPrecision;" fill="%23222222"/></svg>');
}

/* Underline animations for navigation items */

.compact-nav-items li a {
    overflow: hidden;
    clip-path: padding-box;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}

.compact-nav-items li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.0625em;
    background-color: black;
    transition: opacity 300ms, transform 300ms;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.compact-nav-items li a:hover::after,
.compact-nav-items li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}