/* Branding / Logo */

@import url("webfonts.css");

body {
  --outer-padding: 10px;
  --background-native-width: 2500;
  --background-native-height: 1667;
  --background-aspect-ratio: calc(
    var(--background-native-width) / var(--background-native-height)
  );
  --background-scale: max(
    100vw / var(--background-native-width),
    100vh / var(--background-native-height)
  );
  --header-font-size: 60px;
  --header-font-size: min(60px, (100vw - 22px) / 5.1151);
  --header-bubble-size: calc(5.1151 * var(--header-font-size));
}

.branding-logo-container {
  display: inline-block;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: rgba(128, 128, 128, 0.6);
  text-align: center;
  padding-top: calc(1.35598333333 * var(--header-font-size));
  border: 1px solid rgba(180, 180, 180, 0.6);
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.9);
  /* Positioning */
  position: absolute;
  top: max(10px, calc(0.5 * (100vh - var(--header-bubble-size))));
  left: calc((100vw - (var(--header-bubble-size) + 10px)) / 2);
  width: var(--header-bubble-size);
  height: var(--header-bubble-size);
  transition: left 0.3s ease-in-out, top 0.4s ease-in-out;
}

@media (min-width: 576px) {
  .branding-logo-container {
    top: max(10px, var(--background-scale) * 88);
    left: max(var(--outer-padding), calc(15vw - var(--header-bubble-size) / 2));
  }
}

.branding-logo {
  display: block;
  color: #7a0004;
  text-shadow:
    1px 1px 0px #7a000480,
    0px 0px 0px #df172f80,
    0px 0px 8px #ffffffff;
  padding-left: 0.2em;
  padding-right: 0.6em;
  position: relative;
  font-size: var(--header-font-size);
}

.branding-logo-tanz {
  font-family: "Playfair Display";
  font-weight: normal;
}

.branding-logo-t {
  font-size: 1.2em;
  letter-spacing: -0.17361111111em;
}

.branding-logo-anz {
  font-size: 0.75em;
}

.branding-logo-gefuehl {
  font-family: "Pinyon Script";
  font-weight: normal;
}

.branding-logo-gefuehl {
  font-size: 1.08333333333em;
  font-size: 1.18em;
}

/* Navigation */

.compact-nav-items {
  display: inline-block;
  list-style: none;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0;
  text-align: center;
}

.compact-nav-items li {
  margin-left: 0;
  display: inline;
}

.compact-nav-items li,
.compact-nav-items li::after {
  padding: 0.2em 0;
}

.compact-nav-items li a {
  margin-left: 0;
  display: inline;
  font-family: "Playfair Display";
  font-weight: 600;
  position: relative;
}

.compact-nav-items li a,
.compact-nav-items li a:visited,
.compact-nav-items li a:active {
  color: #111111;
  text-decoration: none;
}

/* Navigation item separators */

.compact-nav-items li a {
  white-space: nowrap;
}

.compact-nav-items li::after {
  content: " ";
  letter-spacing: 0.4em;
  color: rgba(255, 0, 0, 0.8);
  background-color: red;
  background: content-box top center no-repeat
    url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0.5 4.6 24.5"><path d="M 0,12.25 2.25,10 4.5,12.25 2.25,14.5 Z" style="shape-rendering:geometricPrecision;" fill="%23222222"/></svg>');
}

/* Underline animations for navigation items */

.compact-nav-items li a {
  overflow: hidden;
  clip-path: padding-box;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.compact-nav-items li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625em;
  background-color: black;
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.compact-nav-items li a:hover::after,
.compact-nav-items li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Background image */

html,
body {
  height: 100%;
}

.hero-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/JumpIntoAir-Red-Full.jpg");
  background-repeat: no-repeat;
  container-type: size;
  background-position: 51% 10%;
  background-size: cover;
  z-index: -10;
}

.hero-container::after {
  display: block;
}

/* Main content */

.first-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

main {
  box-shadow:
    0 10px 5px -5px black,
    inset 0 10px 5px -5px black;
  padding-top: 1em;
  padding-bottom: 1em;
}
