<nav class="nav-cards">
    <a class="nav-card" href="{% link tanzen/anlass/privatstunden.html %}#privatstunden" style="--bg-image: url('{% link assets/img/pexels-tima-miroshnichenko-5814404.jpg %}')">
        <div class="nav-card-background"></div>
        <div class="nav-card-title"><span>Privatstunden</span></div>
    </a>
    <a class="nav-card" href="{% link tanzen/anlass/hochzeitstanz.html %}#hochzeitstanz" style="--bg-image: url('{% link assets/img/iStock-2101741201-m.jpg %}')">
        <div class="nav-card-background"></div>
        <div class="nav-card-title"><span>Hochzeitstanz</span></div>
    </a>
</nav>
