<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Unter der Vielzahl von Stilen und Formen des Tanzens haben es uns ein paar besonders angetan.
        Jeder Tanzstil hat dabei seine ganz eigene Geschichte und Bedeutung, und bereichert so unsere Kultur.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Dies ist ein zufälliger Fakt. Es gibt viele zufällige Fakten, aber keiner ist so wie dieser.
        Glauben Sie nicht? Aktualisieren Sie die Seite und überzeugen Sie sich selbst ;)
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Tanzen hat nachweislich positive Auswirkungen auf die physische und psychische Gesundheit.
        Es fördert die Flexibilität, verbessert die Ausdauer, stärkt die Muskeln und hebt die Laune.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Getanzt wird wohl, seit es den Menschen selbst gibt:
        Die ältesten bekannten Darstellungen von tanzenden Menschen wurden auf steinzeitlichen Höhlenmalereien
        im indischen <a target="_blank" href="https://en.wikipedia.org/wiki/Bhimbetka_rock_shelters#Rock_art_and_paintings">Bhimbetka</a> gefunden - datiert auf 5.000 bis 30.000 Jahre vor Christus!
    </p>
    <p class="more">
        Abgebildet sind dort gemeinschaftliche Reihentänze, vermutlich mit rituellem Hintergrund,
        neben anderen Darstellungen des täglichen Lebens der Höhlenbewohner.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Im Jahr 2009 tanzten exakt 13.597 Menschen in Mexiko-Stadt
        <a target="_blank" href="https://www.youtube.com/watch?v=f6O2z4O7VH0">synchron zu "Thriller" von Michael Jackson</a>
        stellten damit einen
        <a target="_blank" href="https://www.guinnessworldrecords.de/world-records/largest-thriller-dance">Guinness-Weltrekord</a>
        auf!
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Der Wiener Walzer war zu seinen Ursprüngen einst ein handfester Skandal,
        weil Paare sich so eng umarmten, was für die damalige Zeit als äußerst unanständig galt.
        1758 wurde der Walzer in Wien sogar hochoffiziell verboten, da er <em>&bdquo;der Gesundheit schädlich und auch der Sünden halber sehr gefährlich&rdquo;</em> sei.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Der Foxtrott, ein Standardtanz, entstand im frühen 20. Jahrhundert
        und wurde aufgrund seines entspannten Tanzgefühls bekannt &amp; äußerst beliebt.
        Aus ihm entwickelten sich außerdem als stilistisch unabhängige Formen
        der langsamere Slowfox sowie der schnellere Quickstep &mdash; die Herkunft der Benennung wird hier der Fantasie des Lesers überlassen.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Die seit der Rechtsschreibreform von 1996 gültige deutsch-englische Mischschreibweise &bdquo;<em>Quickste<strong>pp</strong>&rdquo;</em>
        konnte sich im Tanzbereich bisher nicht durchsetzen, es blieb dort bei der Schreibweise <em>&bdquo;Quickste<strong>p</strong>&rdquo;</em>.
    </p>
    <p>
        Der zu diesem Zeitpunkt bereits so geschriebene <em>&bdquo;Foxtro<strong>tt</strong>&rdquo;</em>
        hatte sich schon davor aus der englischen Bezeichnung <em>&bdquo;Foxtro<strong>t</strong>&rdquo;</em> entwickelt,
        daher wurde und wird er in der deutschen Tanzszene auch durchweg als Foxtrott bezeichnet.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Die Salsa-Musik und der dazugehörige Tanz vereinen afrikanische und europäische Einflüsse, die in der Karibik &ndash; aufgrund der Sklaverei &ndash; aufeinandertrafen.
        Nach dem zweiten Weltkrieg brachten Emigranten aus Kuba, Kolumbien, Venezuela und Puerto Rico die daraus entstandenen Tänze mit in die USA,
        hier entstand daraus der weltweit bekannte <em>New York Style</em> (auch <em>LA Style</em>) der Salsa.
    </p>
</h6>
</div>
<div class="fact">
    <h6>In eigener Sache</h6>
    <p>
        Kennen Sie schon unsere <a href="{{ link workshop.html }}#-">Workshop-Seite</a>?
    </p>
</div>
