<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Unter der Vielzahl von Stilen und Formen des Tanzens haben es uns ein paar besonders angetan.
        Jeder Tanzstil hat dabei seine ganz eigene Geschichte und Bedeutung, und bereichert so unsere Kultur.
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Dies ist ein zufälliger Fakt. Es gibt viele zufällige Fakten, aber keiner ist so wie dieser.
        Glauben Sie nicht? Aktualisieren Sie die Seite und überzeugen Sie sich selbst ;)
    </p>
</div>
<div class="fact">
    <h6>Wussten Sie schon?</h6>
    <p>
        Tanzen hat nachweislich positive Auswirkungen auf die physische und psychische Gesundheit.
        Es fördert die Flexibilität, verbessert die Ausdauer, stärkt die Muskeln und hebt die Laune.
    </p>
</div>
