<script type="text/javascript">
    (function () {
        function updateFact(isFirstUpdate) {
            var container = document.querySelector(".did-you-know");
            if (!container) {
                return;
            }

            if (!isFirstUpdate) {
                /*
                 * If there is a fact already active, and the keyboard focus or the mouse is positioned
                 * within it, we skip updating the fact to be more in line with user expectations.
                 */
                var currentlyFocused = container.querySelector(".fact.active:hover, .fact.active:focus, .fact.active:focus-within");
                if (currentlyFocused || container.matches(".did-you-know:hover, .did-you-know:focus-within")) {
                   return;
                }
            }

            var facts = container.querySelectorAll(".fact:not(.hidden)");
            var previouslySelectedFacts = container.querySelectorAll(".fact.active");
            if (facts.length > 0) {
                var selectedFactIndex = null;
                if (sessionStorage) {
                    /*
                    * If the browser supports HTML5 session storage, use that to ensure
                    * that random facts are not repeated too much.
                    */
                    var lastFactIndex = Number.parseInt(sessionStorage.getItem("last_random_fact_index"), 10);
                    if (!Number.isNaN(lastFactIndex)) {
                        selectedFactIndex = (lastFactIndex + 1) % facts.length;
                    }
                }

                if (!selectedFactIndex) {
                    /* If not supported or not yet set, select a random fact */
                    selectedFactIndex = Math.floor(Math.random() * facts.length);
                }

                if (sessionStorage) {
                    sessionStorage.setItem("last_random_fact_index", selectedFactIndex.toString("10"));
                }

                previouslySelectedFacts.forEach(prev => prev.classList.remove("active"));
                facts[selectedFactIndex].classList.add("active");
                container.classList.remove("not-initialized");
            }
        }

        updateFact(true);

        var updateIntervalInSeconds = 60; /* second1s */
        if (updateIntervalInSeconds && updateIntervalInSeconds > 0) {
            setInterval(e => updateFact(false), updateIntervalInSeconds * 1000);
        }
    })();
</script>
