.circular-image-inner {
    clip-path: circle(50%);
    overflow: hidden;
}

.circular-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid black;
    border: none;
    box-shadow: 5px 5px 5px 7px rgba(gray, 0.4);

    &.enlarge-on-hover {
        transform: scale(1);
        transition: transform 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955);

        &:hover {
            transform: scale(1.1);
        }
    }

    img,
    .image {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        /* Create a subtle soft transition between the image and the white border around it. */
        box-shadow: 0 0 1px 0 rgba(gray, 0.4);
        background-color: rgba(gray, 0.4);
        position: relative;
        clip-path: fill-box;
    }

    img {
        object-fit: cover;
    }

    .image {
        background-image: none;
        background-size: cover;
        background-position: 50% 50%;
    }

    .image.image-placeholder {
        background-color: none;
        padding: 0.9rem;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(gray, 0.4);
        }
    }
}

.team-introduction .circular-image {
    max-width: 277px;
    margin-left: auto;
    margin-right: auto;
}
