---
layout: none
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48" href="{% link favicon.ico %}" />
    <link rel="icon" type="image/svg+xml" href="{% link icon.svg %}">
    <link rel="apple-touch-icon" href="{% link apple-touch-icon.png %}">
    <link rel="manifest" href="{% link manifest.webmanifest %}">
    <link href="{% link assets/css/bootstrap-icons.min.css %}" rel="stylesheet" />
    <link href="{% link assets/css/default.scss %}" rel="stylesheet" />
    {% seo %}
</head>

<body>
    {%- include header.html -%}
    {{ content }}
    {%- if page.show_footer -%}
    {%- include footer.html -%}
    {%- endif -%}
    {%- include utilities/mail-link-fixup.html -%}
    {%- include utilities/navigate-to-default-anchor.html -%}
</body>

</html>
