---
layout: none
---
<html lang="{{ page.lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
    <link href="{{ site.baseurl }}/assets/css/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/default.css" rel="stylesheet" />
    {% seo %}
</head>

<body>
    {%- include header.html -%}
    {{ content }}
    {%- if page.show_footer -%}
    {%- include footer.html -%}
    {%- endif -%}
    {%- include utilities/mail-link-fixup.html -%}
    {%- include utilities/navigate-to-default-anchor.html -%}
</body>

</html>
